<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "_meta.njk" %}
  <link rel="stylesheet" href="./css/index_sp.css">
</head>
<body>
  <div><span class="js-counter"></span></div>
  <div><button type="button" class="js-button">カウントアップ</button></div>
  <figure><img src="./img/gardening_hose_mizuyari_woman.png" alt=""></figure>

  <script src="./js/babel-polyfill.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/index_sp.js"></script>
</body>
</html>
