<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "_meta.njk" %}
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <div><span class="js-counter"></span></div>
  <div><button type="button" class="js-button">カウントアップ</button></div>
  <figure><img src="./img/yamasha17822_DSC1069_TP_V.jpg" alt=""></figure>

  <script src="./js/babel-polyfill.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>
